<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'About Vitality Caculator'">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <img src="img/chinese_symbols_for_vitality.png" class="ionic-logo">
    <p>
      This is a vitality calculator app that helps tracking important indexes of human body. It works for various heart beats sensor enabled products.
      Check out the <a href="http://google.com" target="_blank">docs</a>
      for more info.
    </p>
    <p>
      Questions? Hit up the 
      <a href="http://google.com" target="_blank">forum</a>.
    </p>
    <p>
      Find a bug? Create an 
      <a href="http://google.com" target="_blank">issue</a>.
    </p>
    <p>
      What to help improve the app?
      <a href="http://google.com" target="_blank">Contribute</a>.
    </p>
    <p>
      Stay up-to-date with the techonoly 
      <a href="http://google.com" target="_blank">newsletter</a> and 
      <a href="https://twitter.com/luochun" target="_blank">twitter</a> account.
    </p>
    <p>
      MIT Licensed. Happy living.
    </p>
  </ion-content>
</ion-view>
