<!--
  This template loads for the 'tab.login' state (app.js)
-->
<ion-view title="'Vitality Calculator v0.1'">
  <ion-content has-header="true" has-tabs="true">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Your email" ng-model="username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <button class="button button-block button-positive" ng-click="login(username, password)">Sign in</button>
      <span style="float:right;padding-right:10px">or <a href="#/logintab/register">create account</a></span>
    </div>
  </ion-content>
</ion-view>
