
<ion-view title="'Follow Users'" right-buttons="rightButtons">

  <ion-content has-header="true" has-tabs="true">

    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="search" ng-model="searchText">
        </label>
      </div>

    </div>
    <ion-list>

      <ion-item ng-repeat="user in users | filter:searchText" item-type="item-thumbnail-left" href="#/tab/user/{{user.username}}">
        <img src="img/profile-placeholder.png">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <p ng-show="user.latestIndex">Latest Vitality-Index is {{user.latestIndex.indexValue}}</p>
        <p ng-hide="user.latestIndex">No Data Available</p>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
